{% extends 'base.html.twig' %}

{% block title %}Nuevo Deposito{% endblock %}

{% block body %}
    <h1>Crear Nuevo Deposito</h1>

    {{ include('deposito/_form.html.twig') }}

    <div class="d-grid d-md-flex justify-content-md-start">
        <a href="{{ path('app_deposito_index') }}">
            <button class="btn btn-lg btn-primary" type="submit">
                Regresar
            </button>
        </a>
    </div>

{% endblock %}
