@import "~bootstrap/scss/bootstrap";

$bg-color: lightsteelblue;

body {
    background-color: $bg-color;
}

.logo {
    background-color: mediumslateblue;
    margin: 0px;
    width: 2rem;
    padding: 0.5rem;
    border: solid 2px white;
    border-radius: 50%;
    font-family: Verdana;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    color: white; 
    text-decoration:none;
 }

 .container {
    background-color: $bg-color;
 }

 .navbar {
    margin: 2px;
    padding: 2px;
    border-radius: 10px;    
 }

 .container-fluid{
    background-color: CornflowerBlue;
    border-radius: 10px;    
 }

 .centrar {
   margin-top: auto;
   margin-bottom: auto;
 }